@font-face {
    font-family: "Nunito Sans";
    src: url(../fonts/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: "Yeseva One";
    src:url(../fonts/YesevaOne-Regular.ttf)
}

body{
    margin: 0;
    font-family: Nunito Sans, Arial;
}

body * {
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}
.button {
    background: #E3B873;
    margin-right: 20px;
    border: 1px solid #E3B873;
    border-radius: 2px;
    padding: 13px 33px;
       
}
.button a{
    text-decoration: none;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.button-white {
    background: none;
    text-decoration: none;
    border: 1px solid #FFFFFF;
        
}

.logo{
    color:#E3B873;
}

.header{
    background: #131313;
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    text-transform: uppercase;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}
#num{
    text-decoration-line: underline;
    color: #E3B873;
}

.header-navigation{
    list-style: none;
    display: flex;
}

.header-navigation__item{
    margin-right: 47px;
}

.header-navigation__item a{
    text-decoration: none;
    color: white;
}

.header-navigation__item a:hover{
    color:#E3B873;
    transition: .5s;
}

.hero{
    background-image: url('../img/hero.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;

}

.hero-overlay{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .7);
  
}

.hero-container{
    position: absolute;
    width: 676.11px;
    height: 305px;
    left: 134px;
    z-index: 1;
    
}
.title{
    margin: 0;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title-org{
    color:#E3B873;
}
.mini-title{
    font-size: 14px;
    line-height: 19px;
    color: #E3B873;
    margin-left: 60.5px;
    margin-top: 107px;
}
.subtitle{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}
.mini-subtitle{
    font-size: 14px;
    line-height: 27px;
}
.page2{
    display: flex;

}
.page2_background{
    background: #131313;
    height: 1074px;
    margin: 0 auto;
}
.page2-container
{
    position: relative;
    width: 1171px;
    height: 552.28px;
}
.page2-navigation{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 53px;

}
.mini-title a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    padding-bottom: 6px;
}

.mini-title a:hover{
    color:#E3B873;
    text-decoration: none;
    border-bottom: 2px solid;
    padding-bottom: 3px;
    transition: .5s;
}
.page2-info
{
    display: flex;
    flex-direction: column;
    
    height: 442px;
    
    justify-content:space-between;

}

.page2-title{
    color:#E3B873;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

.page2-info2{
    display: flex;
    flex-flow: wrap row;
    
    justify-content: space-between;
}

.page2-info2-title{
    color:#E3B873;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    
    
}
.page2-info2-subtitle{
    font-size: 13px;
    line-height: 21px;
    text-transform: none;
}
.slider-title{
    position: relative;
    
    font-size: 50px;
}
.page3{
    margin: 0 auto;
    margin-top: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.page3-title{
    font-size: 20px;
    line-height: 28px;
}