@font-face {
    font-family: "Nunito Sans";
    src: url(../fonts/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: "Yeseva One";
    src:url(../fonts/YesevaOne-Regular.ttf)
}

body{
    margin: 0;
    font-family: Nunito Sans, Arial;
}

body * {
    box-sizing: border-box;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}
.button {
    background: #E3B873;
    margin-right: 20px;
    border: 1px solid #E3B873;
    border-radius: 2px;
    padding: 13px 33px;
       
}
.button a{
    text-decoration: none;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.button2 {
    background: none;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 13px 33px;
}

.button2 a{
    text-decoration: none;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.logo{
    color:#E3B873;
}

.header{
    background: #131313;
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    text-transform: uppercase;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}
#num{
    text-decoration-line: underline;
    color: #E3B873;
}

.header-navigation{
    list-style: none;
    display: flex;
}

.header-navigation__item{
    margin-right: 47px;
}

.header-navigation__item a{
    text-decoration: none;
    color: white;
}

.header-navigation__item a:hover{
    color:#E3B873;
    transition: .5s;
}

.hero{
    background-image: url('../img/hero.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;

}

.hero-overlay{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .7);
  
}

.hero-container{
    position: absolute;
    width: 676.11px;
    height: 305px;
    left: 134px;
    z-index: 1;
    
}
.title{
    margin: 0;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.titleorg{
    color:#E3B873;
}
.subtitle{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}
